* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.hidden {
    display: none;
}

img {
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.9;
    z-index: 1;
}

.center {
    width: 500px;
    height: 801px;
    margin: auto;
    top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 20;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px black;
}

#clock {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 100px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 10px 10px 10px black;
    width: 450px;
    height: auto;
    text-align: center;
}

#login-form>input {
    width: 450px;
    height: 80px;
    margin-top: 50px;
    font-size: 30px;
    border: none;
    background: none;
    text-align: center;
    color: white;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.7);
    text-underline-position: under;
}

#login-form>input::placeholder {
    color: white;
    opacity: 1;
    text-shadow: 4px 4px 3px black;
    transition-duration: 0.5s;
}

#login-form>input:focus::placeholder {
    opacity: 0;
    transition-duration: 0.5s;
}

#login-form>input:focus {
    outline: none;
}

#login-form>button {
    width: 78px;
    height: 30px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: none;
    border-radius: 30px;
    text-shadow: 3px 3px 3px black;
    box-shadow: 5px 5px 20px black;
}

#login-form>button:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

#greeting {
    color: white;
    font-weight: lighter;
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 31px;
    text-shadow: 4px 4px 3px black;
    text-align: center;
}


#todo-form>input {
    width: 450px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 30px;
    text-align: center;
    color: white;
    border: none;
    background: none;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.7);
    text-underline-position: under;
    text-shadow: 4px 4px 4px black;
}

#todo-form>input::placeholder {
    color: white;
    opacity: 1;
    transition-duration: 0.5s;
}

#todo-form>input:focus::placeholder {
    opacity: 0;
    transition-duration: 0.5s;
}

#todo-form>input:focus {
    outline: none;
}

#todo-list {
    list-style: none;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.7);
    text-underline-position: under;
    font-size: 25px;
    width: 450px;
    height: 250px;
    padding-left: 0;
    overflow-y: scroll;
    text-shadow: 4px 4px 3px black;
}

#todo-list>li {
    margin: 10px;
    margin-left: 50px;
}

#todo-list>li>button {
    border: none;
    background: none;
    font-size: 23px;
    margin-left: 10px;
    color: white;
    opacity: 0.8;
    text-shadow: 4px 4px 3px black;
}

#todo-list>li>button:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

#todo-list::-webkit-scrollbar {
    width: 5px;
    box-shadow: 3px 3px 5px black;
}

#todo-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

#todo-list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

#quote {
    color: white;
    font-size: 20px;
    text-shadow: 4px 4px 3px black;
    margin-bottom: 30px;
}

#quote>span:last-child {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
}

#weather {
    position: absolute;
    z-index: 10;
    top: 40px;
    right: 170px;
    color: white;
    font-size: 20px;
    padding: 5px;
    width: auto;
    height: auto;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px black;
}

#weather:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}